body {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

div#layout {
    text-align: center;
    height: fit-content;
    width: fit-content;
}

div#container {
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: #2F4A6D;
}

svg {
    width: 100%;
    height: 100%;
}

.bar {
    fill: #80cbc4;
}

text {
    font-size: 12px;
    fill: #fff;
}

path {
    stroke: gray;
}

line {
    stroke: gray;
}

line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

text.divergence {
    font-size: 14px;
    fill: #2F4A6D;
}

text.value {
    font-size: 14px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 14px;
    font-weight: 400;
}

text.source {
    font-size: 10px;
}


/* For File Upload */

.input-file-container {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background: #3F7AD4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.input-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}

#grid_area {
    margin: 5px;
}

.run-button {
    background-color: #F67280;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border: 0 solid;
    font-size: 14px;
    color: #fff;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
